<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Cusqui</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link" href="/home">Inicio</a>
            <a class="nav-link" href="/proveedores">Proveedores</a>
            <a class="nav-link" href="/vistaG">Vista General</a>
            <a class="nav-link" href="/perfil">Perfil</a>
        </ul>
      </div>
    </div>
</nav>
    </div>
</body>
</html>